[user]
	email = faizan.khalid@brainxtech.com
	name = FaizanKhalid
[core]
	autocrlf = input
	safecrlf = true
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  type = cat-file -t
  dump = cat-file -p
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE


[init]
	defaultBranch = main
